@charset "UTF-8";

body {
  font-family: "Hiragino Maru Gothic";
  text-align: center;
  color: white;
  background-color: #1a1a1a;
  padding-bottom: 32px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  padding-top: 32px;
}

input, button {
  margin: 16px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
}

.file {
  margin-top: 64px;
  border: 2px solid #666666;
  width: 60%;
  color: white;
}

.file::file-selector-button {
  background-color: #666666;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
}

.file::file-selector-button:hover {
  background-color: #333333;
}

.number {
  border: 2px solid #666666;
  text-align: right;
  width: 15%;
  color: white;
}

.button {
  border: 2px solid white;
  background-color: #666666;
  color: white;
}

.button:hover {
  background-color: #333333;
}

canvas {
  border: 2px solid #666666;
  margin-top: 10px;
}